
<main>
    {{#if semRegistros}}
    <h1 class="produto-nao-encontrado">Nenhum produto encontrado :T</h1>
    {{/if}}

    <div class="container">
        <div class="row">
              {{#each produtos}}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <img src="../imagens/{{img}}">
                    <div class="textos">
                        <p>{{nome}}</p>
                        <p>{{value}}</p>
                        <!-- Adicione outras propriedades aqui conforme necessário -->
                    </div>
                    <a href="/formularioEditar/{{_id}}" class="btn btn-warning">alterar</a>
                    <a href="/remover/{{_id}}" class="btn btn-danger">remover</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <script>
        console.log("Renderização de lista concluída");
    </script>
</main>